@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    light;
}

@theme inline {
  --font-sans: var(--font-inter-sans);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
